* {
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
}

.container {
    max-width: 1200px;
    min-width: 600px;
    margin: 0 auto;
    min-height: 100%;
}

.header {
    height: 200px;
    min-height: 200px;
    background-color: aqua;
}

.menu li {
    list-style-type: none;
    width: 80px;
    height: 50px;
    border: 1px solid #000;
    float: left;
}

.nav {
    width: 200px;
    height: 300px;
    background-color: burlywood;
    float: left;
}

.main {
    margin-left: 200px;
}

.main .bloks {
    width: 30%;
    height: 300px;
    outline: 1px solid black;
    float: left;
    margin: 1% 1.5%;
}

.clearfix {
    clear: both;
}

.clr {
    height: 200px;
}

.footer {
    height: 100px;
    background-color: chocolate;
    width: 1200px;
    margin: -200px auto 0;
}

@media screen and (min-width: 1200px) {
    .header {
        background-color: chartreuse;
    }
}

@media screen and (max-width: 600px) {
    .main .bloks{
        width: 45%;
        margin: 2% 2.5%;   
    }
    .menu li {
        float: none;
    }
}